@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  @apply bg-gradient-to-tl from-slate-900 to-blue-500 text-white bg-fixed h-full;
}

.page {
  @apply max-w-screen-lg mx-auto pt-24 px-3;
}

.page-sm {
  @apply max-w-sm mx-auto;
}

.title {
  @apply text-[2rem] font-extrabold my-3 text-white text-center
        2xl:text-[18rem] 2xl:opacity-30 2xl:rotate-[270deg] 2xl:fixed 2xl:bottom-0 2xl:-left-12 2xl:w-96 2xl:pointer-events-none 2xl:z-0;
}

/* button style */
.btn {
  @apply px-5 py-2 rounded-full transition font-bold text-sm m-1 disabled:opacity-50;
}

.btn.danger {
  @apply bg-red-500 hover:bg-red-600;
}

.btn.success {
  @apply bg-green-500 hover:bg-green-600;
}

.btn.primary {
  @apply bg-white hover:bg-slate-200 text-slate-900;
}

.btn.dark {
  @apply bg-slate-700 hover:bg-slate-900 text-white;
}

.btn.accent {
  @apply bg-pink-500 hover:bg-pink-600;
}

.btn.lg {
  @apply text-2xl;
}

.animated-button {
  background-image: none;
  appearance: none;
  box-sizing: border-box;
  cursor: pointer;
  min-width: 0;
  outline: none;
  text-decoration: none;
  transition: all 600ms cubic-bezier(0.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  background-color: transparent;
}

.animated-button:disabled {
  pointer-events: none;
}

.accent.animated-button:hover {
  box-shadow: rgb(236, 72, 153, 0.699) 0 8px 15px;
  transform: translateY(-2px);
}
.danger.animated-button:hover {
  box-shadow: rgb(239, 68, 68, 0.699) 0 8px 15px;
  transform: translateY(-2px);
}
.success.animated-button:hover {
  box-shadow: rgb(34, 197, 94, 0.699) 0 8px 15px;
  transform: translateY(-2px);
}
.primary.animated-button:hover {
  box-shadow: rgb(255, 255, 255, 0.699) 0 8px 15px;
  transform: translateY(-2px);
}
.dark.animated-button:hover {
  box-shadow: rgb(71, 85, 105, 0.699) 0 8px 15px;
  transform: translateY(-2px);
}

.accent.animated-button:active,
.danger.animated-button:active,
.success.animated-button:active,
.primary.animated-button:active,
.dark.animated-button:active {
  box-shadow: none;
  transform: translateY(0);
}
/* end of button style */

/* forms style */
input[type="text"],
input[type="password"],
input[type="email"],
input[type="number"],
textarea {
  @apply text-slate-900 font-bold;
}

input[type="text"].error,
input[type="password"].error,
input[type="email"].error,
input[type="number"].error,
textarea.error {
  @apply border-red-600 border-2;
}
/* end of forms style */

/* tables style */
.table-auto tr,
.table-auto td {
  @apply border-b border-b-blue-500 py-4 px-2;
}

.table-auto.hover tbody > tr:hover {
  @apply bg-blue-500;
}
/* end of tables style */

/* spinner style */
.wrapper {
  width: 200px;
  height: 60px;
  position: relative;
  z-index: 1;
}

.circle {
  width: 20px;
  height: 20px;
  position: absolute;
  border-radius: 50%;
  background-color: #fff;
  left: 15%;
  transform-origin: 50%;
  animation: bouncing 0.5s alternate infinite ease;
}

@keyframes bouncing {
  0% {
    top: 60px;
    height: 5px;
    border-radius: 50px 50px 25px 25px;
    transform: scaleX(1.7);
  }

  40% {
    height: 20px;
    border-radius: 50%;
    transform: scaleX(1);
  }

  100% {
    top: 0%;
  }
}

.circle:nth-child(2) {
  left: 45%;
  animation-delay: 0.2s;
}

.circle:nth-child(3) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

.shadow {
  width: 20px;
  height: 4px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.9);
  position: absolute;
  top: 62px;
  transform-origin: 50%;
  z-index: -1;
  left: 15%;
  filter: blur(1px);
  animation: bouncingShadow 0.5s alternate infinite ease;
}

@keyframes bouncingShadow {
  0% {
    transform: scaleX(1.5);
  }

  40% {
    transform: scaleX(1);
    opacity: 0.7;
  }

  100% {
    transform: scaleX(0.2);
    opacity: 0.4;
  }
}

.shadow:nth-child(4) {
  left: 45%;
  animation-delay: 0.2s;
}

.shadow:nth-child(5) {
  left: auto;
  right: 15%;
  animation-delay: 0.3s;
}

/* end of spinner style */

/* cart panel style */
.cart-panel-container::before {
  content: "";
  position: absolute;
  width: 20px;
  height: 20px;
  top: -11px;
  right: 45px;
  background: rgb(15, 23, 42);
  transform: rotate(45deg);
}
/* end of cart panel style */

/* Cursive font style */
.cursive-font {
  font-family: 'Dancing Script', cursive;
}
/* end of Cursive font style */